@font-face {
  font-family: determination;
  src: url(determination.woff);
}

html {
  background-image: url(battle.gif);
  font-family: determination;
  color: white;
}

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

p {
  font-size: 2em;
}

a {
  color: white !important;
}

#ui {
  height: 600px;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main_text {
  z-index: 9;
  margin-left: 2rem;
  margin-top: 25rem;
  padding-right: 19rem;
  position: absolute;
  text-align: left !important;
}

.side_text {
  z-index: 9;
  position: absolute;
  left: 50px;
  padding-left: 480px;
  text-align: left !important;
}

#youtube {
  top: 360px;
}

#discord {
  top: 410px;
}

#twitter {
  top: 460px;
}

#smp {
  top: 510px;
}

#heart {
  z-index: 9;
  margin-left: 31rem;
  margin-top: 25rem;
  position: absolute;
  text-align: left !important;
}

#spamlaugh {
  opacity: 0.2;
  z-index: 9;
  bottom: 0px;
  right: 0px;
  position: absolute;
}

@media only screen and (max-width: 640px) {
  #container {
    width: 80%;
    height: 50%;
  }
  #main_text {
    z-index: 9;
    margin-left: 2rem;
    margin-top: 25rem;
    padding-right: 30rem;
    position: absolute;
    text-align: left !important;
  }
}